In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [10]:
company_detail_list = [
    {
        'name': 'Company 1',
        'domain': 'Retail',
        'country': 'United States'
    },
    {
        'name': 'Company 2',
        'domain': 'Technology',
        'country': 'United Kingdom'
    },
    {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'country': 'United States'
    }
]

sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)

result = [{'name': company['name']} for company in sorted_companies]

for item in result:
    print(item)

{'name': 'Company 3'}
{'name': 'Company 2'}
{'name': 'Company 1'}

In [9]:
def print_company_domains(company_detail_list):
    for company in company_detail_list:
        print(f"{company['name']}: {company['domain']} ({company['country']})")
print_company_domains(company_detail_list)

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [27]:
data = {
    "Retail": ["John Doe", "Robert White", "Ying Han Tan"],
    "Technology": ["Tom Smith", "Rubby Lee"],
    "Healthcare": ["Kenneth Ng", "Andrew Sebastian"]
}

print("{")
for category, names in data.items():
    print(f'    "{category}": [')
    for name in names:
        print(f'        "{name}",')
    print("    ],")
print("}")

{
    "Retail": [
        "John Doe",
        "Robert White",
        "Ying Han Tan",
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee",
    ],
    "Healthcare": [
        "Kenneth Ng",
        "Andrew Sebastian",
    ],
}

In [15]:
def get_companies_with_employee_nationality():
    employees = [
        {'company': 'Company 1', 'nationality': 'Australia'},
        {'company': 'Company 1', 'nationality': 'Australia'},
        {'company': 'Company 1', 'nationality': 'Hong Kong'},
        {'company': 'Company 2', 'nationality': 'Hong Kong'},
        {'company': 'Company 2', 'nationality': 'United States'},
        {'company': 'Company 3', 'nationality': 'United States'},
        {'company': 'Company 3', 'nationality': 'United States'},
    ]
    
    company_nationality_count = {}
    
    for emp in employees:
        company = emp['company']
        nationality = emp['nationality']
        company_nationality_count.setdefault(company, {}).setdefault(nationality, 0)
        company_nationality_count[company][nationality] += 1
    
    for company, nationalities in sorted(company_nationality_count.items()):
        print(f"Company: {company}")
        for nationality, count in nationalities.items():
            print(f"  {nationality}: {count}")
        print() 
get_companies_with_employee_nationality()

Company: Company 1
  Australia: 2
  Hong Kong: 1

Company: Company 2
  Hong Kong: 1
  United States: 1

Company: Company 3
  United States: 2